{% extends "base.html" %}

{% block title %}Current Orders - Yellow Bucket{% endblock %}

{% block body %}
<h1>Order History</h1>

<div class="orders-table-container">
    <table class="orders-table">
        <thead>
            <tr>
                <th class="table-header">Order ID</th>
                <th class="table-header">Movie Title</th>
                <th class="table-header">Kiosk Location</th>
                <th class="table-header">Checkout Date</th>
                <th class="table-header">Return Date</th>
                <th class="table-header">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr class="table-row">
                <td class="table-cell">{{ order.id }}</td>
                <td class="table-cell">{{ order.movie.title }}</td>
                <td class="table-cell">{{ order.kioskLocation }}</td>
                <td class="table-cell">{{ order.checkoutDate | datetimeformat if order.checkoutDate else 'N/A' }}
                </td>
                <td class="table-cell">{{ order.returnDate | datetimeformat if order.returnDate else 'Not returned'
                    }}
                </td>
                <td class="table-cell">
                    {% if not order.returnDate %}
                    <form action="{{ url_for('orders.return_movie', order_id=order.id) }}" method="post">
                        <button type="submit" class="return-button">Return Movie</button>
                    </form>
                    {% else %}
                    <span class="returned-status">Returned</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}