{% extends "base.html" %}

{% block title %}Order Details{% endblock %}

{% block body %}
<div class="container">
    <div class="order-details">
        <h1 class="order-title">Order for {{ movie.title }}</h1>
        <div class="order-info">
            <p><strong>Checkout Date:</strong> {{ order.checkoutDate | datetimeformat if order.checkoutDate else 'N/A'}}
            </p>
            <p>
                <strong>Return Date:</strong> {{ order.returnDate | datetimeformat if order.returnDate else 'Not
                returned' }}
            </p>
        </div>

        <hr>

        <h2 class="review-header">Leave a Review</h2>
        <form method="POST" class="review-form">
            {{ form.hidden_tag() }}

            <div class="form-group">
                <label for="rating" class="form-label">Rating:</label>
                {{ form.rating(class="form-control") }}
            </div>

            <div class="form-group">
                <label for="review_text" class="form-label">Review:</label>
                {{ form.review_text(class="form-control", rows=4, placeholder="Leave your review here...") }}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn button-gold") }}
            </div>
        </form>

        <hr>

        <div class="back-link button-gold">
            <a href="{{ url_for('orders.orders') }}" class="btn btn-secondary">Back to Orders</a>
        </div>
    </div>
</div>

{% endblock %}