{% extends 'base.html' %}

{% block body %}
<h1 class="rental-history-title">Rental History for {{ movie.title }}</h1>


{% if rentals|length > 0 %}
<table class="rental-history-table">
    <thead>
        <tr>
            <th>Kiosk Address</th>
            <th>Checkout Date</th>
            <th>Return Date</th>
        </tr>
    </thead>
    <tbody>
        {% for rental, user_id, address in rentals %}
        <tr>
            <td>{{ address }}</td>
            <td>{{ rental.checkoutDate | datetimeformat }}</td>
            <td>{{ rental.returnDate | datetimeformat }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No rentals found for this movie.</p>
{% endif %}
{% endblock %}