<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Yellow Bucket{% endblock %}</title>
</head>
<header>
    {% include 'navbar.html' %}
</header>

<body>
    <section class="section">
        <div class="container">
            <main>
                {% block body %}
                <h1 class="title">Welcome to Yellow Bucket!</h1>

                <h1>Movie List</h1>
                <ul>
                    {% for movie in movies %}
                    <li><a href="{{ url_for('movie_detail', movie_id=movie.id) }}">{{ movie.title }}</a>
                        <img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" alt="movie poster"
                            width="50">
                    </li>
                    {% endfor %}
                </ul>
                {% endblock %}
            </main>


        </div>
    </section>
    {% include 'footer.html' %}
</body>

</html>