{% extends "base.html" %}

{% block title %}Movie List - Yellow Bucket{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <a href="/add_movie">
            <h1 class="title">Add a Movie</h1>
        </a>

        <h1 class="title">All Movies</h1>
        <ul class="movie-grid">
            {% for movie in movies %}
            <li class="movie-item">
                <a href="{{ url_for('movie_detail', movie_id=movie.id) }}">{{ movie.title }}</a>
                <img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}"
                    href="{{ url_for('movie_detail', movie_id=movie.id) }}" alt="{{ movie.title }} poster">

            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}