{% extends "base.html" %}

{% block title %}{{ movie.title }} - Yellow Bucket{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">{{ movie.title }}</h1>
        <img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" alt="{{ movie.title }}">
        <p><strong>Overview:</strong> {{ movie.overview }}</p>
        <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
        <p><strong>Rating:</strong> {{ movie.vote_average }}</p>
        <button onclick="history.back()">Back to previous page</button>
    </div>
</section>
{% endblock %}