{% extends 'base.html' %}
{% block content %}
<h1>Rental History for {{ movie.title }}</h1>
<table>
    <thead>
        <tr>
            <th>Customer</th>
            <th>Kiosk Address</th>
            <th>Checkout Date</th>
            <th>Return Date</th>
        </tr>
    </thead>
    <tbody>
        {% for rental, username, address in rentals %}
        <tr>
            <td>{{ username }}</td>
            <td>{{ address }}</td>
            <td>{{ rental.checkoutDate }}</td>
            <td>{{ rental.returnDate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}