{% extends "base.html" %}

{% block title %}Yellow Bucket{% endblock %}

{% block body %}
<body>
    <h1 class="title">Movies</h1>

    <div class="details-display">
        <div class="detail-info"><strong>Title:</strong>  {{ movie['title'] }}</div>
        <div class="detail-info"><strong>Poster:</strong>  {{ movie['poster_path'] }}</div>
        <div class="detail-info"><strong>Release Date:</strong>  {{ movie['release_date'] }}</div>
        <div class="detail-info"><strong>Runtime:</strong>  {{ movie['runtime'] }}</div>
        <br/>
    </div>
</body>
{% endblock %}