{% extends "base.html" %}

{% block title %}User List - Yellow Bucket{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <a href="/new_customer">
            <h1 class="add_customer">Add a Customer</h1>
        </a>

        <h1 class="title">All Customers</h1>
        <ol>
            {% for data in customer_data %}
            <li>

                <!-- Corrected customer link -->
                <a href="{{ url_for('customers.view_customer', customer_id=data.customer.id) }}">
                    <p>{{ data.customer.username }}</p>
                </a>

                <a href="{{ data.history_link }}">View Order History</a>



            </li>
            {% endfor %}
        </ol>
    </div>
</section>
{% endblock %}