{% extends "base.html" %}

{% block title %}Customer Details - Yellow Bucket{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <button onclick="history.back()" class="btn btn-secondary button-gold">Back</button>
        <br />

        <h1>Customer Details</h1>
        <div class="customer-info">
            <p><strong>Customer ID:</strong> {{ customer.id }}</p>
            <p><strong>Username:</strong> {{ customer.username }}</p>
            <p><strong>Email:</strong> {{ customer.email }}</p>
        </div>

        <div class="action-links">
            <a href="{{ history_link }}" class="btn btn-link">View Order History</a>
            <a href="{{ url_for('customers.update_customer', customer_id=customer.id) }}" class="btn btn-link">Edit
                Customer</a>
        </div>
    </div>
</section>
{% endblock %}