{% extends "base.html" %}

{% block title %}Top Movies - Yellow Bucket{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">Welcome to Yellow Bucket!</h1>

        <div class="buttons">
            <a href="{{ url_for('movies.search') }}" class="button-gold">
                Search Movies
            </a>
        </div>

        <div class="title"><strong>Top 20 Movies:</strong></div>
        <ul class="movie-grid">
            {% for movie in movies %}
            <li class="movie-item">
                <a href="{{ url_for('movies.movie_detail', movie_id=movie.id) }}">
                    <img src="https://image.tmdb.org/t/p/w154{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                    <div class="movie-info">
                        <p class="movie-title">{{ movie.title }}</p>
                        <p>Average Rating: {{ movie.vote_average }}</p>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
        <br />
        <br />


        <h1 class="title"><strong>All Collections:</strong></h1>

        <ul class="movie-grid">
            {% for collection in collections %}
            <li class="movie-item">
                <a href="{{ url_for('movies.collection_items', collection_name=collection.name) }}">
                    <img src="https://image.tmdb.org/t/p/w154{{ collection.poster_path }}" alt="{{ collection.name }}">
                    <div class="movie-info">
                        <p class="movie-title">{{ collection.name }}</p>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}